.App {
  text-align: center;
}

span.red{
  color:Red;
}

Form {
  text-align: left; 
  align-content: center;
  align-items: center;
}


Form.Group {
  padding: 5px;
}

.Listing {
  align-content: center;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: solid black 1px;
}

@media only screen 
and (min-width : 1224px)  {
  .Search, .Submit {
    width: 600px;
    padding: 25px;
    margin: 5px;
    border: solid black 1px;
  }
  .Listing {
    width: 800px;
    padding: 30px;
    margin: 25px;
    border: solid black 1px;
    background-color: lightblue;
  }
}

.leadpathButton {
  align-self: center;
  align-content: center;
  align-items: center;
}
.form-design
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

img {
  height: 200px;
}

.formelem {
  padding: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex{
  margin:20px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.Plasma{
  margin-bottom:45px;
}

.flex-2{
  display: flex;
  justify-content: center;
}